<!-- filepath: src/app/app.component.html -->
<p-card header="Bem-vindo ao HICD-BOT" subheader="Frontend com Angular e PrimeNG">
    <p>
        Este é um exemplo de card do PrimeNG. Agora você pode começar a construir suas interfaces
        utilizando a vasta biblioteca de componentes disponíveis.
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Ver Documentação" icon="pi pi-book" styleClass="p-button-secondary"></p-button>
    </ng-template>
</p-card>

<router-outlet></router-outlet>
